@import 'tailwindcss';
@import './styles/colors.css';
@import './styles/forms.css';
@import './styles/layout.css';
/* @plugin '@tailwindcss/forms'; */

@utility surface-* {
	background-color: --value(--color-*);
	color: --value(--color-on-*);
	border-color: --value(--color-border-*);
}

